.paypal-button-fixed {
  position: fixed;
  bottom: 20px;   /* separación desde abajo */
  left: 1350px;     /* separación desde la izquierda */
  z-index: 100;

  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 6px;

  animation: fadeInSlide 0.8s ease-out;
  transition: transform 0.2s ease;
}

.paypal-button-fixed:hover {
  transform: scale(1.05);
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paypal-button-fixed img {
  height: 40px;
  width: auto;
}
