@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url('/assets/images/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
